/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    text-align: left;
    margin-left: 0.5%;
    font-size: 2vw;
    margin-bottom: 1%;
}